.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.saved-city {
  background-color: green;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-input {
  display: inline-block;
  font-size: 1.1em;
}

.daily-forecast-card {
  border-radius: 3px;
  border-color: red;
}
